.progress-bar {
  flex: 1;
  cursor: pointer;
  height: 12px;
  display: flex;
  align-items: center;
}

.progress-background {
  height: 4px;
  width: 100%;
  background-color: #535353;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
}

.progress-foreground {
  height: 100%;
  background-color: #b3b3b3;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 0.1s linear;
}

.progress-bar:hover .progress-foreground {
  background-color: #1DB954;
}

.progress-bar:hover .progress-background {
  height: 6px;
}